@import './base.scss';

.navlist{
  height: .88rem;
  border-bottom: 0.2rem solid #F5F5F5;
  ul{
    @include clear;
    li{
      font-size: .28rem;
      color: #6C6C6C;
      line-height: .88rem;
      float: left;
      margin-left: .4rem;
      position: relative;
      &.active{
        color: #E33735;
        &:after{
          display: block;
        }
      }
      &:after{
        display: none;
        content: "";
        width: .3rem;
        height: .03rem;
        background: #E33735;
        position: absolute;
        border-radius: 1rem;
        top:.66rem;left: 0;right: 0;
        margin: auto;
      }
    }
  }
}
ul.trademarkList{
  padding: .23rem;
  li{
    padding: .31rem 0;
    border-bottom: 1px solid #F5F5F5;
    @include clear;
    .trademarkImg{
      width:2.18rem;
      height:1.64rem;
      float: left;
      img{
        width: 100%;
      }
    }
    .reademarkMessage{
      width: 4.60rem;
      float: right;
      h3{
        font-size: .3rem;
        color: #181818;
        margin-bottom: .1rem;
      }
      p{
        font-size: .24rem;
        color: #666666;
        line-height: .4rem;
        @include tofl;
        .number{
          margin-left: .35rem;
        }
      }
    }
  }
}

.details{
  .trademarkImg{
    border-bottom: 1px solid #ECECEC;
    padding: .35rem 0;
    text-align: center;
    img{
      width: 4.23rem;
    }
  }
  .trademarkName{
    border-bottom: .16rem solid #F5F5F5;
    line-height: .78rem;
    padding-left: .4rem;
    font-size: .28rem;
    color: #333333;
    span{
      font-size: .28rem;
      font-weight: 600;
    }
  }
  .trademarkDetailsMsg{
    padding: 0 .4rem;
    border-bottom: .16rem solid #F5F5F5;
    li{
      line-height: .82rem;
      font-size: .24rem;
      color: #666;
      border-bottom: 1px solid #ECECEC;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .trademarkDetailsServeList{
    line-height: .78rem;
    padding-left: .4rem;
    font-size: .28rem;
    color: #666;
    &.backActive{
      background-position: 95% center;
    }
  }
}
.backActive{
    background: url(../../image/detailsIcon01.png)no-repeat;
    background-position: right center;
    background-size: .14rem .29rem;
}

.sbState{
  .ztlist{
    width: 100%;
    padding:.5rem .25rem;
    box-sizing: border-box;
    li{
      width: 100%;
      color: #c0c3cc;
      font-size: .3rem;
      padding-left: 0.9rem;
      box-sizing: border-box;
      line-height: .5rem;
      position: relative;
      padding-bottom: .5rem;
      &.wg{
        color: #001026;
      }
      &:after{
        position: absolute;
        top:0;left: .4rem;
        margin: auto;
        content: "";
        width: 2px;
        height: 100%;
        background: #e9ebee;
      }
      &:before{
        position: absolute;
        top:0.15rem;left: .33rem;
        margin: auto;
        content: "";
        width: 0.16rem;
        height: 0.16rem;
        background: url(../../image/detailsIcon02.png)no-repeat;
        background-size: cover;
      }
      &:first-child{
        color: #ffaf30;
        &:before{
          position: absolute;
          top:0.15rem;left: .16rem;
          margin: auto;
          content: "";
          width: 0.5rem;
          height: 0.5rem;
          z-index: 8;
          background: url(../../image/detailsIcon03.png)no-repeat;
          background-size: .34rem .34rem;
          background-position: center center;
        }
      }
    }
  }
}

.sbServerList{
  .xqfwlb{
    width: 100%;
    li{
      width: 100%;
      height: .9rem;
      line-height: .9rem;
      padding-left: .25rem;
      box-sizing: border-box;
      color: #62686f;
      font-size: .3rem;
      border-bottom: 1px solid #e9ebee;
    }
  }
}

.shareDetail{
  .shareImg{
    position: relative;
    img{
      width: 100%;
    }
    &:after{
      content: "";
      width: .48rem;
      height: .48rem;
      background: url(../../image/detailsIcon04.png)no-repeat;
      background-size: cover;
      position: absolute;
      top: .5rem;left: .4rem;
    }
  }
  .shareName{
    border-bottom: .2rem solid #F5F5F5;
    line-height: 1.06rem;
    padding: 0 .32rem;
    font-size: .3rem;
    color: #181818;
    font-weight: 600;
    img{
      width: .34rem;
      @include imgcenter;
      margin-left: .1rem;
    }
  }
  .shareMsg{
    border-bottom: .1rem solid #f5f5f5;
    padding: .1rem .3rem;
    p{
      line-height: .5rem;
      color: #333;
      font-size: .28rem;
      &:first-child{
        font-size: .3rem;
      }
      span{
        font-size: .28rem;
        color: #909090;
      }
    }
    .msg{
      font-size: .28rem;
      color: #666666;
    }
    img{
      width: 100%;
      display: block;
    }
  }
}
