@import "./base.scss";
html,body,#app,.layout{
    height: 100%;
}
.layout{
    height: 100%;
    padding-bottom: 1rem;
    box-sizing: border-box;
}
.trademark-registant{
    height: 100%;
    position: relative;

}
.scroller{
    box-sizing: border-box;
    .loading-layer{
        position: relative;
        top: -60px;
    }
    .list{
        @include wh(100%,1.47rem);
        padding-top: .34rem;
        box-sizing: border-box;
        border-bottom:2px solid rgba(245,245,245,1);
        .top{
            @include fct(.3rem,#181818,left);
            line-height: .42rem;
            font-weight: 400;
            font-family:PingFangSC-Regular;
            position: relative;
            padding-left: .94rem;
            .company{
                @include fc(.3rem,#181818);
                font-weight: 400;
            }
            .certifyType{
                width: 1.2rem;
                // line-height: .45rem;
                line-height: .22rem;
                padding:0.11rem 0;
                border-radius: .23rem;
                border:1px solid #72CF5F;
                @include fc(.22rem,#43C02A);
                text-align: center;
                float: right;
                margin-right: .4rem;
            }
            .certifyTypeNo{
                @include whl(1.2rem,.45rem,.45rem);
                border-radius: .23rem;
                border:1px solid rgba(210,210,210,1);
                @include fc(.22rem,#D2D2D2);
                text-align: center;
                float: right;
                margin-right: .4rem;
            }
        }
        input[type="checkbox"]{
            display: none;
        }
       label:before{
              content: '';
              display: inline-block;
              position: absolute;
              width: .4rem;
              height: .4rem;
              top: 50%;
              line-height: .9rem;
              margin-top: -.2rem;     
              background: url(../image/circle.png) no-repeat;
              background-size: 0.4rem 0.4rem;
          }
        input[type='checkbox']:checked+label:before{
            background-image: url('../image/chose.png');
            background-position: center center;
          }
          label{
            position: absolute;
            width: .4rem;
            height: .4rem;
            left: .24rem;
            top: 50%;
            line-height: .9rem;
            margin-top: -.2rem;     
        }
        .info{
            @include lfc(.33rem,.24rem,#999999);
            font-weight: 400;
            text-align: left;
            padding-left: .94rem;
            margin-top: .1rem;
            span{
                color:#E33735;
            }
        }
    }
}
.bottom{
    @include hl(1rem);
    border-top:1px solid rgba(245,245,245,1);
    background: #fff;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    .right{
        float: right;
        @include fct(.3rem,#fff,center);
        @include whl(35%,1rem,1rem);
        font-family:PingFangSC-Regular;
        font-weight:400;
        background:linear-gradient(270deg,rgba(227,55,53,1) 0%,rgba(250,86,84,1) 100%);
        
    }
    .left{
        float: left;
        @include whl(65%,1rem,1rem);
        padding-left: .85rem;
        box-sizing: border-box;
        span{
            @include fc(.3rem,#434343);
        }
        .all{
            padding-right: .1rem;
        }
        .fc{
            color:#E23735
        }
        input[type="checkbox"]{
            display: none;
        }
       label:before{
              content: '';
              display: inline-block;
              position: absolute;
              width: .4rem;
              height: .4rem;
              top: 50%;
              line-height: .9rem;
              margin-top: -.2rem;     
              background: url(../image/circle.png) no-repeat;
              background-size: 0.4rem 0.4rem;
          }
        input[type='checkbox']:checked+label:before{
            background-image: url('../image/chose.png');
            background-position: center center;
          }
          label{
            position: absolute;
            width: .4rem;
            height: .4rem;
            left: .24rem;
            top: 50%;
            line-height: .9rem;
            margin-top: -.2rem;     
        }
    }
}  